In [52]:
import numpy as np
import pandas as pd
import statistics as stats
import seaborn as sns

# Mean

In [53]:
# without using any libraries (pure python)
population = [150,160,170,165,155]
sample = [150,170,165]

pop_mean = sum(population)/len(population)
sample_mean = sum(sample)/len(sample)

print("Population Mean is", pop_mean)
print("Sample Mean is", sample_mean)

Population Mean is 160.0
Sample Mean is 161.66666666666666

In [54]:
# Using Numpy
data = [85,90,78,92,88]

arithematic_mean = np.mean(data)
print("The mean is", arithematic_mean)

The mean is 86.6

In [55]:
# Find the mean of var using Statistics
var = [10,20,30,40,50]

mean_stats = stats.mean(var)
print("The mean of var is", mean_stats)

The mean of var is 30

### Dataset iris

In [56]:
# get the mean of a dataset iris (iris is a inbuilt dataset of seaborn)
iris = sns.load_dataset('iris')

mean_sepal_length = np.mean(iris['sepal_length'])
print("The mean of sepal length is", mean_sepal_length)

The mean of sepal length is 5.843333333333334

In [57]:
iris  # dataset of above cell

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# Median

### Method 1 - Numpy

In [58]:
n_data = [20,22,24,26,28,100]

n_median = np.median(n_data)
print("The Median is", n_median)

The Median is 25.0

### Method 2 - Statistics

In [59]:
s_data = [1,41,54,5,51,56]
s_median = stats.median(s_data)
print("The Median is", s_median)

The Median is 46.0

### Method 3 - Pandas

In [60]:
df = pd.DataFrame({
    'values' : [20,22,24,26,100]
})

print(df)

median_pandas = df['values'].median()
print("The Median is", median_pandas)

   values
0      20
1      22
2      24
3      26
4     100
The Median is 24.0

### Dataset iris

In [61]:
# Inbuilt dataset of Seaborn
iris = sns.load_dataset('iris')
iris.head()

seab_median = np.median(iris['sepal_length'])
print("The length of the dataset is", seab_median)

The length of the dataset is 5.8

# Mode

In [62]:
data = [85,90,85,85,90,95,96,90] 
mode = stats.mode(data)  # for single mode output
print("The mode is", mode)  # Output smallest number if mode is multiple value like: (85, 90) final output = 85 because 85<90

The mode is 85

In [63]:
data = [85,90,85,85,90,95,96,90]
mode = stats.multimode(data)  # for multi mode output
print("The mode is", mode)  # Output multiple mode value like: (85, 90)

The mode is [85, 90]

# Variance

### Using Numpy

In [64]:
data = [2,4,4,5,6,7,8,9]

sample_variance = np.var(data, ddof = 1)  # ddof = delta degree of freedom. ddof = 1 used for sample_variance
pop_variance = np.var(data, ddof = 0)  # ddof = 0 used for population_variance

print('The sample variance of the data is', sample_variance)
print('The population variance of the data is', pop_variance)

The sample variance of the data is 5.410714285714286
The population variance of the data is 4.734375

### Using Pandas

In [ ]:
data = [2,5,6,67,8,]