In [1]:
import numpy as np
import pandas as pd
import statistics as py_stats  # generally we used "as stats" but there is two 'stats' at the moment so i changed as alternative
import seaborn as sns
from scipy import stats
import math

# Mean

In [2]:
# without using any libraries (pure python)
population = [150,160,170,165,155]
sample = [150,170,165]

pop_mean = sum(population)/len(population)
sample_mean = sum(sample)/len(sample)

print("Population Mean is", pop_mean)
print("Sample Mean is", sample_mean)

Population Mean is 160.0
Sample Mean is 161.66666666666666

### Using Numpy

In [3]:
data = [85,90,78,92,88]

arithematic_mean = np.mean(data)
print("The mean is", arithematic_mean)

The mean is 86.6

### Using Statistics

In [4]:
var = [10,20,30,40,50]

mean_stats = py_stats.mean(var)
print("The mean of var is", mean_stats)

The mean of var is 30

### Dataset iris

In [5]:
# get the mean of a dataset iris (iris is a inbuilt dataset of seaborn)
iris = sns.load_dataset('iris')

mean_sepal_length = np.mean(iris['sepal_length'])
print("The mean of sepal length is", mean_sepal_length)

The mean of sepal length is 5.843333333333334

In [6]:
iris  # dataset of above cell

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# Median

### Method 1 - Numpy

In [7]:
n_data = [20,22,24,26,28,100]

n_median = np.median(n_data)
print("The Median is", n_median)

The Median is 25.0

### Method 2 - Statistics

In [8]:
s_data = [1,41,54,5,51,56]
s_median = py_stats.median(s_data)
print("The Median is", s_median)

The Median is 46.0

### Method 3 - Pandas

In [9]:
df = pd.DataFrame({
    'values' : [20,22,24,26,100]
})

print(df)

median_pandas = df['values'].median()
print("The Median is", median_pandas)

   values
0      20
1      22
2      24
3      26
4     100
The Median is 24.0

### Dataset iris

In [10]:
# Inbuilt dataset of Seaborn
iris = sns.load_dataset('iris')
iris.head()

seab_median = np.median(iris['sepal_length'])
print("The length of the dataset is", seab_median)

The length of the dataset is 5.8

# Mode

### Using Statistics

In [11]:
data = [85,90,85,85,90,95,96,90] 
mode = py_stats.mode(data)  # for single mode output
print("The mode is", mode)  # Output smallest number if mode is multiple value like: (85, 90) final output = 85 because 85<90

The mode is 85

In [12]:
data = [85,90,85,85,90,95,96,90]
mode = py_stats.multimode(data)  # for multi mode output
print("The mode is", mode)  # Output multiple mode value like: (85, 90)

The mode is [85, 90]

# Variance

### Using Numpy

In [13]:
data = [2,4,4,5,6,7,8,9]

sample_variance = np.var(data, ddof = 1)  # ddof = delta degree of freedom. ddof = 1 used for sample_variance
pop_variance = np.var(data, ddof = 0)  # ddof = 0 used for population_variance

print('The sample variance of the data is', sample_variance)
print('The population variance of the data is', pop_variance)

The sample variance of the data is 5.410714285714286
The population variance of the data is 4.734375

### Using Pandas

In [14]:
data = [2,5,6,67,8,5,4,9,14,2,10]
series = pd.Series(data)

sample_variance = series.var()  # did not mentioned ddof. default behaviour is ddof=1 sample_variance only in pandas
print("The sample variance is", sample_variance)

pop_variance = series.var(ddof = 0)
print("The population variance is", pop_variance)

The sample variance is 345.6
The population variance is 314.1818181818182

### Using Scipy

In [15]:
data = [7,8,9,1,8,5,2,6,4,7]

sample_variance = stats.tvar(data)
print("The sample variance is", sample_variance)

pop_variance = stats.tvar(data, ddof = 0)
print("The population variance is", pop_variance)

The sample variance is 7.122222222222224
The population variance is 6.410000000000001

# Standard Deviation

### Using Numpy

In [16]:
data = [60,65,70,75,80]

sample_std = np.std(data, ddof = 1)
print("The sample standard deviation for data is", sample_std)

pop_std = np.std(data, ddof = 0)
print("The population standard deviation for data is", pop_std)

The sample standard deviation for data is 7.905694150420948
The population standard deviation for data is 7.0710678118654755

### Using Pandas

In [17]:
data = [2,5,6,67,8,5,4,9,14,2,10]
series = pd.Series(data)

sample_variance = series.std()  # did not mentioned ddof. default behaviour is ddof=1 sample_variance only in pandas
print("The sample standard deviation is", sample_variance)

pop_variance = series.std(ddof = 0)
print("The population standard deviation is", pop_variance)

The sample standard deviation is 18.5903200617956
The population standard deviation is 17.725174701023914

### Using Scipy

In [18]:
# we used math.sqrt for maths 'squar root'
sample_std = math.sqrt(stats.tvar(data))
print("The sample standard deviation is", sample_std)

pop_std = math.sqrt(stats.tvar(data, ddof = 0))
print("The population standard deviation is", pop_std)

The sample standard deviation is 18.5903200617956
The population standard deviation is 17.725174701023914